
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*RESET*/
*{margin:0; padding:0;}

body{ background-color: #000B17;}
.navbar {display: none;}

/*MENU DO FUNDO*/
.menu-top {
    overflow:hidden; 
    margin:0; 
    padding:0;  
   /* position:absolute;*/
	top: 1px;
	width: 100%;
    
    font:17px "Arial", Helvetica, sans-serif;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #455575),
        color-stop(1, #3B5898)
    );
    background-image: -o-linear-gradient(bottom, #455575 0%, #3B5898 100%);
    background-image: -moz-linear-gradient(bottom, #455575 0%, #3B5898 100%);
    background-image: -webkit-linear-gradient(bottom, #455575 0%, #3B5898 100%);
    background-image: -ms-linear-gradient(bottom, #455575 0%, #3B5898 100%);
    background-image: linear-gradient(to bottom, #455575 0%, #3B5898 100%);
    }
/***************************************************************/
/*MENU DO TOPO*/
.menu-top ul {display: flex; flex-direction: row; justify-content:baseline; list-style-type:none; background:linear-gradient(90deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.0) 100%); box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.5);}
.menu-top ul li {display:inline-block;}
.menu-top ul li a {padding:10px; text-decoration:none; display:block; color: rgba(255, 255, 255, 0.5); text-shadow:1px 1px 1px rgba(1, 1, 1, 0.4);}
.menu-top ul li a:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(1, 1, 1, 0.6); color: rgba(1, 1, 1, 1.7);}
.menu-top ul li ul {padding:0; margin:0; position:absolute; display:none;  background:linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 257, 0.5) 25%, rgba(255, 255, 257, 0.5) 75%, rgba(255, 255, 255, 0.2) 100%) #6A7DA6; box-shadow: 0 0 25px rgba(0, 0, 7, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.5);}
.menu-top ul li ul li {display:block;}
.menu-top ul li:hover ul {display:block; opacity:1; visibility:visible;}
.menu-top img {width: 120px; position:relative; left: 32%;}
/***************************************************************/
/*SUB-MENU DO TOPO*/
.menu-top ul ul ul > li {display:none; }
.menu-top ul ul li:hover li {display:block;}
.menu-top ul ul li ul {left:116px;}
.menu-top ul li ul li ul {margin-top:-40px;}
.menu-top ul ul ul {width:370px}
/***************************************************************/
/*TAG FORMULARIO*/
#formTag {
	font-family: Lato, sans-serif; 
	color: #aaa; 
    display: flex; 
	flex-direction: row; 
	justify-content:right; 
	position:absolute; 
	top: 80px; 
	right: 10px;
}

/*FORME QUE BUSCA CFs*/
#campo-cfs, #campo-ccto {margin: 4px 1px;}
#campo-cfs form, #campo-ccto form {background-color:#ffffff; border-radius: 5px; padding: 10px; filter:opacity(90%); margin: 3px; position: relative;}
#campo-cfs p, #campo-ccto p {margin: 4px 1px;}
.storge {display: flex; flex-direction: row; justify-content:space-between; margin: 5px;  border-bottom: 1px solid #EEE;}
.storge a {text-decoration:none; color: #aaa;}

input {
    height: 25px;
    border: 1px solid #EEE;
    border-radius: 3px;
    padding: 0 10px;
    transition-duration: 0.5s;
    color: #333333;
    margin-top: 10px;
    
}
input:focus{outline: none; border: 1px solid #0086e4;}

button{
    cursor: pointer;
    color: white;
    background-color: #0086e4;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    height: 25px;
    letter-spacing: 1px;
    transition-duration: 1s;
	padding: 0 5px;
}
button:hover {background-color: #18a0ff;}
button:active {transform: scale(0.95);}

.input-group__label {
    position: absolute;
    display: block;
    top: 20px;
    color: #aaa;
    background-color: #fff;
    line-height: 1px;
    left: 8px;
    padding: 0 5px;
    transition: line-height 200ms ease-in-out,
        font-size 200ms ease-in-out, 
        top 200ms ease-in-out;
    pointer-events: none;
}
input:not(:placeholder-shown) + .input-group__label{               
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: 7px;
    color:  #18a0ff;
}
input:focus + .input-group__label{               
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: 7px;
    color:  #18a0ff;
}
/****************************************************************/

/*LINK TEMPO*/
/*BTNS*/
.btns {float:right; background-color:#EEE; color:black; position:fixed; top:40%; right:-50px; z-index: 3; margin:10px; transition-duration: 1s;}
.btns a {display:block; padding:12px; text-decoration:none; transition-duration:1s; filter:opacity(30%); cursor: pointer;}
.btns a:hover {background-color:#000B17; color:red; display:block; padding:12px; text-decoration:none; filter:opacity(50%);}
.btns .material-icons {color:#000B17; filter:opacity(70%);}
/****************************************************************/