
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#formTag {
	font-family: Lato, sans-serif; 
	color: #aaa; display: flex; 
	flex-direction: row; 
	justify-content:right; 
	position:absolute; 
	top: 10px; 
	right: 10px;
}

/*FORME QUE BUSCA CFs*/
#campo-cfs, #campo-ccto {margin: 4px 2px; background-color:#ffffff; border-radius: 5px; padding: 10px; filter:opacity(90%);}
#campo-cfs p {margin: 5px;}
.storge {display: flex; flex-direction: row; justify-content:space-between; margin: 5px;  border-bottom: 1px solid #EEE;}
.storge a {text-decoration:none; color: #aaa;}
#campo-ccto {margin: 4px 2px;}
form {margin: 5px; position: relative;}

input {
    height: 25px;
    border: 1px solid #EEE;
    border-radius: 3px;
    padding: 0 10px;
    transition-duration: 0.5s;
    color: #333333;
}
input:focus{outline: none; border: 1px solid #0086e4;}

button{
    cursor: pointer;
    color: white;
    background-color: #0086e4;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    height: 25px;
    letter-spacing: 1px;
    transition-duration: 1s;
}
button:hover {background-color: #18a0ff;}
button:active {transform: scale(0.95);}

.input-group__label {
    position: absolute;
    display: block;
    top: 0;
    color: #aaa;
    background-color: #fff;
    line-height: 1px;
    left: 8px;
    padding: 0 5px;
    transition: line-height 200ms ease-in-out,
        font-size 200ms ease-in-out, 
        top 200ms ease-in-out;
    pointer-events: none;
}
input:not(:placeholder-shown) + .input-group__label{               
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
    color:  #18a0ff;
}
input:focus + .input-group__label{               
    background-color: white;
    line-height: 10px;
    opacity: 1;
    font-size: 10px;
    top: -5px;
    color:  #18a0ff;
}
/****************************************************************/

#btns {position:absolute;  float:right;}
/*LINK TEMPO*/
/*BTNS*/
#btns {background-color:#EEE; color:black; position:fixed; top:40%; right:-50px; z-index:1; margin:10px; transition-duration: 1s;}
#btns a {display:block; padding:12px; text-decoration:none; transition-duration:1s; filter:opacity(30%);}
#btns a:hover {background-color:#000B17; color:red; display:block; padding:12px; text-decoration:none; filter:opacity(50%);}
#btns .material-icons {color:#000B17; filter:opacity(70%);}
/****************************************************************/
